;
; @文件包: YaPB
; @开发团队: YaPB Project
; 汉化：毛毛的老公
; @文件名: custom.cfg
; 
; 配置文件功能：允许更改机器人代码中的一些硬编码内容.
;
; 注意：对此文件的所有更改只有在服务器重启后才会生效.
;

;
; 指定机器人将尝试连接以检查网络的主机名的可用性以及启用图形下载/上传功能
;
CheckConnectivityHost = yapb.jeefo.net

;
; 自定义 C4 模型名称, 适用于使用自定义C4模型的服务器.
; 默认为 "c4.mdl" (省略 models/ 路径), 如果需要使用 "models/mybomb/mybomb.mdl"
; 则可指定为 "mybomb/mybomb.mdl".
;
C4ModelName = c4.mdl

;
; 用于降落伞处理的自定义cvar名称，支持各种不同的插件处理降落伞（如AMX Parachute、AMX Parachute Lite等）.
; 可以指定所需的参数
;
AMXParachuteCvar = sv_parachute

;
; 对于CSDM模组，添加了除 info_player_start 和info_player_deathmatch 以外的自定义重生点.
; 使用该参数可以指定重生点的类名.
; 指定后，机器人将可以在没有默认生成实体的情况下加入游戏.
;
CustomCSDMSpawnPoint = view_spawn

;
; 用于检测游戏中是否激活了CSDM 模组的主要参数.
;
CSDMDetectCvar = csdm_active

;
; 用于检测机器人是否在僵尸模式（Zombie Mod）下运行的主要变量.
;
ZMDetectCvar = zp_delay

;
; 对于僵尸模式（Zombie Mod），这些cvar用于处理任何游戏模式开始之前的时间.
;
ZMDelayCvar = zp_delay

;
; 对于僵尸模式，确定被感染的玩家所在的队伍.
; 有效值: T, CT.
;
ZMInfectedTeam = T

;
; 这决定了是否使用虚假特征（如虚假时间、虚假SID（头像）、虚假ping）
; 应在机器人代码中启用.默认情况下是关闭的.
; 要启用它，需要为变量提供"i'm confident for what i'm doing"值.
;
EnableFakeBotFeatures = no

;
; 禁用对日志文件的任何写入操作.
; 因此，所有错误和警告都只是发送到服务器控制台,这将替换 yb_logger_disable_logfile 参数.
;
DisableLogFile = no

;
; 在机器人创建和配额管理过程中，禁用玩家生成限制的强制执行,
; 允许使用自定义生成编辑器.
;
DisableSpawnControl = no
