;
; @文件包: YaPB
; @开发团队: YaPB Project
; 汉化：毛毛的老公
; @文件名: difficulty.cfg
; 
; 配置文件功能：用于定义机器人难度
;
; 格式:
;   Expert = 0.1,0.2,100,100,100
;
; 如下所示:
;    Level = minReactionTime(s),maxReactionTime(s),headshotProbability,seenThruWallChance,heardThruWallChance,maxWeaponRecoil,aimError
;
; 其中:
;   minReactionTime - 机器人看到敌人到能够识别敌人的最短时间（以秒为单位）.
;   maxReactionTime - 机器人看到敌人到能够识别敌人的最长时间（以秒为单位）.
;   headshotProbability - 如果敌人的身体和头部都可见，机器人瞄准头部而非身体的概率.
;   seenThruWallChance - 机器人认为敌人在墙后且刚刚看到敌人时，攻击敌人的概率.
;   heardThruWallChance - 机器人认为敌人在墙后并且刚刚听到敌人时，攻击敌人的概率.
;   maxWeaponRecoil - 武器的最大后坐力，通过暂停射击来进行补偿.
;   aimError - （x，y，z）偏移量，用于补偿机器人瞄准的误差
;

Noob = 1.5, 2.0, 15, 0, 0, 40, 20.0, 20.0, 40.0
Easy = 1.0, 1.5, 20, 0, 0, 35, 15.0, 15.0, 30.0
Normal = 0.5, 1.0, 25, 0, 25, 30, 10.0, 10.0, 20.0
Hard = 0.25, 0.5, 50, 50, 50, 25, 5.0, 5.0, 10.0
Expert = 0.1, 0.25, 75, 75, 75, 20, 0.0, 0.0, 0.0
