;
; @文件包: YaPB
; @开发团队: YaPB Project
; 汉化：毛毛的老公
; @文件名: logos.cfg
; 
; 配置文件功能：包含了机器人的标志定义
;
; 它们来自于 decals.wad 文件.
;

{biohaz
{graf003
{graf004
{graf005
{lambda06
{target
{hand1
{spit2
{bloodhand6
{foot_l
{foot_r
